.vscode/**
.vscode-test/**
.github/**
docs/**
test/**
test-extension/**
テスト/**
fonts/**
src/debugTools/**
AGENTS.md
CONTRIBUTING.md
.gitignore
.gitmessage
.yarnrc
debug.log
package-lock.json
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/images/**
node_modules/js-yaml/bin/**
node_modules/js-yaml/dist/**
